@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Pixelify+Sans:wght@400..700&display=swap');
/*font-family: "Londrina Solid", sans-serif;
font-family: "Pixelify Sans", sans-serif;*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
  background-color: #F69B09;
  min-height: 100dvh; /* Usa altura da viewport real, mesmo em mobile */
}

.centralize-for-mobile{
    height: 100vh;
    width: 100vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*HEADER*/
main{
    background-color: #F69B09;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.window-header{
    font-family: "Londrina Solid", sans-serif;
    background-color: #F69B09;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.window-header h1{
    color: #712008;
    font-size: 2rem;
    -webkit-text-stroke: 1px #FFFFFF;
    margin-left: 1rem;
    align-items: center;
}

.window-header-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-right: 1rem;
    align-items: center;
}

.minimize-window{
    border: none;
    background: none;
    cursor: pointer;
}

.minimize-window img{
    width: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}

.close-window{
    border: none;
    background: none;
    cursor: pointer;
}

.close-window img{
    width: 1rem;
    height: auto;
    display: flex;
    justify-content: center;
}

/*MAIN*/
.window-content{
    background-color: #FDECC0;
    min-height: 40vh;
    width: 90%;
    width: 55vh;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.window-content img{
    width: 10rem;
    height: auto;
    display: flex;
    width: 100%;
    height: auto;
    display: block;
}

.window-content-button {
    font-family: "Londrina Solid", sans-serif;
    font-size: 4rem;
    color: #460809;
    -webkit-text-stroke: 1px #FFCC52;
    border: none;
    background: none;
    cursor: pointer;

    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.window-content-button:hover{
    color: #FFCC52;
    -webkit-text-stroke: 2px #460809;
}

.window-content p{
    font-family: "Pixelify Sans", sans-serif;
    color: #BA3A13;
    font-size: 1rem;
    margin-top: 1rem;
}